@model IEnumerable<CongNgeWeb.Entities.HangHoaBan>

@{
    ViewBag.Title = "Chi Tiết Đơn Hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chi tiết của đơn hàng : Mã @ViewBag.IDDONHANG</h2>

<table class="table table-hover">
    <tr class="success">
        <th>
           &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Mã sản phẩm
        </th>
        <th>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Tên sản phẩm
        </th>
        <th>
           &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Hình Ảnh
        </th>
        <th>
           &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Giá
        </th>
        <th>
           &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Số Lượng
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.link_anh)" width="40" height="40"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sl)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Details", new { @id=item.id }) |
            @Html.ActionLink("Xóa", "Delete", new { @id=item.id })
        </td>
    </tr>
}

</table>
