@model CongNgeWeb.Entities.THANHVIEN

@{
    ViewBag.Title = "Sửa thông tin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Sửa lại thông tin</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="editor-label">
           Tên Người Dùng
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TENTV)
            @Html.ValidationMessageFor(model => model.TENTV)
        </div>

        <div class="editor-label">
           Địa chỉ Email
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EMAIL)
            @Html.ValidationMessageFor(model => model.EMAIL)
        </div>

        <div class="editor-label">
           Địa chỉ
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DIACHI)
            @Html.ValidationMessageFor(model => model.DIACHI)
        </div>

        <div class="editor-label">
            Ngày sinh
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NG)
            @Html.ValidationMessageFor(model => model.NG)
        </div>

        <div class="editor-label">
           Giới Tính
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.GT)
            @Html.ValidationMessageFor(model => model.GT)
        </div>
      

        <div class="editor-label">
           Số Điện Thoại
        </div>
        <div class="editor-field" >
            @Html.EditorFor(model => model.SDT)
            @Html.ValidationMessageFor(model => model.SDT)
        </div>

        <p>
            <input type="submit" value="Hoàn Tất" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Trang chủ", "Index","Home")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
